/* Other rules */
* {
  box-sizing: border-box;
}

.content {
  width: 50%;
  margin: 0 auto;
}

/* HEADER */

header {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
  text-align: center;
}

header img {
  width: 100px;
}

/* Program */

.program {
  margin-top: 30px;
  height: 120px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.heure {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.picture {
  width: 10%;
  height: 80%;
  object-fit: cover;
}

.picture img {
  width: 100%;
  height: 100%;
}

.description {
  padding-left: 20px;
  width: 70%;
  height: 100%;
}

.description p {
  margin: 10px 0;
}

.description p:first-child {
  font-weight: 700;
}

.description span:nth-child(3) {
  font-weight: 700;
  margin-right: 30px;
}

.description span:nth-child(4) {
  font-weight: 700;
  color: #ff014b;
}
